<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156415235765-cu8hid0em092vphrv3f57s93bh83c29i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156415235765-cu8hid0em092vphrv3f57s93bh83c29i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156415235765-2ga5u9mjf4sch8ttf37h2cboueoc3d2e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAINenukbxgu9GNkMM6CIKdHxGM5Zqfb0E</string>
	<key>GCM_SENDER_ID</key>
	<string>156415235765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fuais.dhlizApp</string>
	<key>PROJECT_ID</key>
	<string>dhlizapp</string>
	<key>STORAGE_BUCKET</key>
	<string>dhlizapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156415235765:ios:1d800a907c4c1a1382d0fc</string>
</dict>
</plist>